<!DOCTYPE html>

<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Bem vindo(a) à comunidade Reus-e</title>

  <style>
    header {

      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    img.logo {

      width: 50px;
      height: 50px;
      margin-right: 10px;

    }

    h1 {

      color: #FF5894;

    }
  </style>

</head>

<body>

  <header>

    <img class="logo" src="./ReuseIcon.png" alt="Logo Reus-e">

    <h1> Seja muito bem vindo(a) à comunidade Reus-e. </h1>

  </header>

  <h3> Olá, {{ name }}! Como você está? </h3>

  <p>

    Estamos ansiosos para lhe ajudar a encontrar os produtos para a sua máquina!

  </p>

  <p>

    Também queremos que você sinta a vontade para publicar seus próprios produtos em nossa plataforma.

  </p>

  <p>

    Qualquer dúvida, entre em contato com a gente. Vamos adorar atender você ❤

  </p>

  <strong> Atenciosamente, Equipe Reus-e 👾 </strong>

</body>

</html>